.contentf{
    background-color: rgb(226, 226, 226);
}

.headerstyle{
    padding-left: 1%;
    padding-right: 3%;
    height: 10%;
}

.stickynav{
    position: fixed;
    top: 0;
    overflow: visible;
    z-index: 50;
}

.container{
    width:90% !important;
}

.textcenter{
    text-align: center;
}

ol{
    padding-left:1.2em;
}

.styling{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
}

.navcolor{
    background-color: #3FB8AF;
}

.demo-toggle-title {
    margin-top: 0.5rem;
}

.titletext{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-top: 120px;
}

.sidetitle{
    padding-top: 100px;
}

.sidetext{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.moviestyle, .bookstyle{
    border: 1px solid black;
    padding:10px 20px !important;
    box-shadow: 3px 3px;
    margin-top: 30px;
}
.results{
    padding-left:20px !important;
}

.homestyle{
    padding-top: 1%;
}

.centerbutton{
    display: flex;
    justify-content: center;
    margin-top: 3%;
}

.carousel{
    width: 100%;
}

.homepic{
    background-image: url("./240_F_271120192_ZDT2FCxH94akiIsOHwVULWnbNzi8Oagn.jpg");
    background-size: cover;
    background-position: center;
}

#test-slider{
    margin: 1em;
}

.moviepic{
    background-image: url("./AumI4r.jpg");
    background-size: cover;
    background-position: center;
}

.footer-copyright{
    text-align: center;
}

.noUi-tooltip {
    display: none;
}

.noUi-active .noUi-tooltip {
    display: block;
}

#movies-section img {
    width: 50%;
    float: left;
    margin:0 10px 20px 0;
}

#movies-section iframe{
    width:45%;
    height:200px;
    border:none;
}

li {
    text-align: justify;
}
@media screen and (max-width: 600px){
    #movies-section iframe{
        width:100%;
        height:260px;
    }
    .mobiletext{
        font-size: 20px;
    }
    .results{
        padding-left:0px !important;
    }
}