h1, h3{
    text-align: center;
}

.demo-toggle-title {
    margin-top: 0.5rem;
}

footer{
    text-align: center;
    border: 1px solid black;
}

.container{
    border: 1px solid black;
    padding: 50px 50px 50px 50px;
    box-shadow: 3px 3px;
}

.noUi-tooltip {
    display: none;
}

.noUi-active .noUi-tooltip {
    display: block;
}