.headerstyle{
    padding-right: 3%;
    height: 10%;
}

.stickynav{
    position: fixed;
    top: 1;
}

.textcenter{
    text-align: center;
}

.demo-toggle-title {
    margin-top: 0.5rem;
}

.moviestyle, .bookstyle{
    border: 1px solid black;
    padding: 50px 50px 50px 50px;
    box-shadow: 3px 3px;
}

.homestyle{
    padding-top: 1%;
}

.centerbutton{
    display: flex;
    justify-content: center;
}

.resultcard{
    width: 85%;
    display: block;
    margin: 0 auto;
}

footer{
    text-align: center;
    border: 1px solid black;
}

.noUi-tooltip {
    display: none;
}

.noUi-active .noUi-tooltip {
    display: block;
}

img {
    height: 450px;
    width: 350px;
    float: left;
    margin: 10px;
}